table{
    border: 2px solid;
    margin: 0 auto;
}

table td{
    text-align: center;
    border: 2px solid;
    width: 90px;
    height: 90px;
}

.botones{
    text-align: center;
}

#b1{
    margin-top: 20px;
}

.boton{
    margin-bottom: 5px;
    width: 90px;
    font-family: Verdana;
    text-align: center;
}


/*Cambio de tamaño para de dispositivos móviles*/
@media only screen and (max-width: 1300px) {                                                                                                                                                      

    table td{
        height: 80px;
    }
}

@media only screen and (max-width: 600px) {

    table td{
        height: 50px;
    }
}

@media only screen and (max-width: 500px) {

    table td{
        height: 37px;
    }
}

@media only screen and (max-width: 300px) {
    
    table td{
        height: 25px;
    }
}